/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


body {
    background-color: rgb(198, 211, 178);
    font-family: "Cormorant Garamond", sans-serif;
}

header {
    text-align: center;
    height: 10vh;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: -15px;
}

h3 {
    font-size: medium;
    margin-bottom: 20px;
}

.vocative {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3rem;
}

footer {
    text-align: center;
    margin: 30px;
    font-weight: bold;
    height: 10vh;
}

#hero {
    height: 70vh;
    width: 100%;
    background: url("../images/coliseum_portrait_optimised.webp") no-repeat center center/cover;
    
    position: relative;

    /* animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards; */
}

@keyframes hero-zoom {
    0% {
        transform: scale(.95);
    }
    100% {
        transform: scale(1.05);
    }
}

/* Interactive Area */

#userValue {
    margin: 10px 0;
    width: 120px;
    color: rgb(57, 58, 55);
    background-color: #cfc7c7;
    text-transform: uppercase;
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    border: solid 1px rgb(57, 58, 55);
}

#userOutput {
    color: rgb(57, 58, 55);
    background-color: #ffffff;
    text-transform: uppercase;
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 15px;
}

#resetField {
    margin: 0;
    width: auto;
    padding: 0;
    color: rgb(57, 58, 55);
    background-color: #ffffff;
    text-transform: uppercase;
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    border: none;
}

.btn-submit {
    color: rgb(57, 58, 55);
    margin: 10px;
    padding: 10px 30px;
    text-transform: uppercase;
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.interactive-area {
    background: #ffffff;
    opacity: 0.85;
    /* padding: 10px; */
    border-radius: 0px;
    box-shadow: 0 4px 8px rgb(198, 211, 178);
    width: 90%;
    max-width: 500px;
    margin: auto;
    /* margin-top: 20px; */
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    align-content: center;
}

/* MEDIA QUERIES */
/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    
    h1 {
        font-size: 2.5rem;
    }
    
    h3 {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    /* #hero {
        height: 70vh;
    } */

    footer{
        font-size: 1.5rem;
    }
}

/* @media screen and (min-height: 640px) {
    #hero {
        height: 72vh;
    }
}

@media screen and (min-height: 720px) {
    #hero {
        height: 75vh;
    }
}

@media screen and (min-height: 840px) {
    #hero {
        height: 78vh;
    }
}

@media screen and (min-height: 900px) {
    #hero {
        height: 82vh;
    }
}
 */

