/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


body {
    background-color: rgb(198, 211, 178);
    font-family: "Cormorant Garamond", sans-serif;
}

header {
    text-align: center;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: -15px;
}

h3 {
    font-size: medium;
}

.vocative {
    text-transform: uppercase;
}

footer {
    text-align: center;
    margin: 30px;
    font-weight: bold;
}

#hero {
    height: 500px;
    width: 100%;
    background: url("../images/coliseum_portrait_optimised.webp") no-repeat center center/cover;
    position: relative;

    /* animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards; */
}

@keyframes hero-zoom {
    0% {
        transform: scale(.95);
    }
    100% {
        transform: scale(1.05);
    }
}

/* Interactive Area */
#input-value {
    border: solid 1px rgb(198, 211, 178);
    color: rgb(91, 94, 88);
    display: inline-block;
    height: 40px;
    width: 130px;
    margin: 10px;
    font-family: "Cormorant Garamond", sans-serif;
    text-align: center;
    font-size: 1.2rem;
    text-transform: uppercase;
}

#output-value {
    margin: 10px;
    color: rgb(91, 94, 88);
    background-color: #ffffff;
    font-family: "Cormorant Garamond", sans-serif;
    text-align: center;
}

.btn-submit {
    color: rgb(91, 94, 88);
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 10px;
    font-family: "Cormorant Garamond", sans-serif;
    text-align: center;
}

button {
    font-family: "Cormorant Garamond", sans-serif;
}


.interactive-area {
    background: #ffffff;
    opacity: 0.85;
    padding: 10px;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgb(198, 211, 178);
    width: 50%;
    max-width: 500px;
    margin: auto;
    margin-top: 0px;
    text-align: center;
}

/* Media Queries */
@media screen and (min-width: 576px) {
    h3 {
        font-size: larger;
    }
}
